.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
  width: 250px;
  height: 350px;
  padding: 1.5rem;
  margin: 1.5rem;
  border: 2px solid blue;
  text-align: center;
  .title {
    color:blue;
  }
  .original-title {
    color: darkblue;
  }
}